@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header{
   
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 150px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
   
}

header .logo{
    
    color: #f2f2f2;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    padding-left: 40px;
}
header .navigation{
    position: relative;
    display: flex;
 
  
}
.vary1{
    color: #f2f2f2;
}
 .vary{
    color: #1daf8f;
    margin-left: 90px;
    border: 1.5px solid #1daf8f;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
}
header .navigation li a{
    text-decoration: none;
    
    font-weight: 300;
}
header.sticky .navigation li a{
    color: rgb(245, 236, 236);
}
header .navigation li a:hover{
    color:  rgb(241, 66, 95);
}
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }
  .slideshow-container {
   background-image: url(newblue6.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    height: 660px;
   
  }
  .overla{
    
    height: 660px;
}
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .wall{
      width: 620px;
      height: 690px;
     
      margin-right: 130px;
  }
  .overlay{
      padding-top: 170px;
      margin-left: 40px;
  }
  .text {
    color: #f2f2f2;
   
   padding-left: 100px;
   display: flex;
    position: relative;
  }
  .btn{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 36px;
      padding-right: 36px;
     font-weight: 400;
      margin-top: 40px;
      border: none;
      color: #fff;
      background: #1daf8f;
      font-size: 16px;
  }
  .ab{
      font-weight: 400;
      font-size: 20px;
      padding-top: 40px;
      line-height: 30px;
  }
   .symbol1{
    display: flex;
    margin-left: 150px;
   
  }
  .huge1{
    box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.384);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .huge2{
    margin-top: 130px;
    margin-bottom: 100px;
    margin-left: 30px;
  }
  .huge4{
      font-size: 42px;
      font-weight: 500;
      padding-bottom: 40px;
  }
  .huge{
      display: flex;
      padding-left: 150px;
      padding-right: 150px;
  }
  .huge3{
      width: 90px;
      height: 90px;
      margin-bottom: 40px;
      margin-top: 40px;
  }
  .idio1{
      padding-bottom: 40px;
      font-weight: 500;
  }
  .idio{
      padding-top: 30px;
      font-weight: 500;
      color: rgb(83, 82, 82);
  }
  .idio .fa{
      padding: 8px;
      color: #1daf8f;
      background: #cac7c79a;
      border-radius: 50%;
      margin-right: 10px;
  }
  .idio2{
      padding-bottom: 100px;
      font-weight: 300;
      color: #817d7d;
  }
  .co{
      width: 170px;
      height: 60px;
  }
  .co1{
    width: 70px;
    height: 70px;
    margin-right: 30px;
}
.but{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    padding-right: 36px;
   font-weight: 400;
    margin-top: 80px;
    margin-right: 150px;
    border: none;
    color: #fff;
    background: #1daf8f;
    font-size: 16px;
}
.co2{
    width: 150px;
    height: 60px;
    margin-right: 30px;
}
.sym{
    width: 200px;
    height: 80px;
    margin-top: 40px;
}
  .symbol4{
      display: flex;
  }
  .symbol{
    transform: translate(0 , -36%);
    background: rgb(233, 231, 231);
    padding-top: 30px;
    padding-bottom: 30px;
   
     }
  .com{
    width: 200px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
   
    
}
.com1{
    width: 200px;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
   
}
.com2{
    width: 220px;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
   
}
.com3{
    width: 220px;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
   
}
  .date{
      display: flex;
  }
  .text2{
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
  }
  .text3{
    color: rgb(236, 240, 8);
    font-size: 36px;
    font-weight: 800;
}
.about{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 90px;
    display: flex;
  
}
.me2{
    margin-top: 24px;
    width: 70px;
    margin-left: 200px;
    background-color: rgb(241, 66, 95);
    border: 0 none;
    height: 5px;
    color: rgb(241, 66, 95);
  
}
.me12{
   
    width: 70px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
    background: #1daf8f;
    border: 0 none;
    height: 5px;
    color: #1daf8f;
   
   }

.us{
    font-size: 36px;
    padding-left: 30px;
}
.intent{
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 80px;
   flex: 1;
   padding-right: 200px;
   padding-left: 150px;
}
.us1{
    font-size: 36px;
    padding-left: 30px;
    color: #fff;
}
.intent1{
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 80px;
   flex: 1;
   color: #fff;
   padding-right: 200px;
   padding-left: 150px;
}

.draw{
    padding-right: 80px;
 flex: 1;
  
}
.smile{
    display: flex;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-top: 30px;
}
.secure1{
    font-size: 30px;
    font-weight: 600;
}
.secure2{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
    padding-top: 40px;
}
.girl{
    width: 530px;
    height: 400px;
    padding-left: 100px;
    padding-right: 50px;
    flex: .8;
}
.secure{
    padding-left: 150px;
    padding-right: 50px;
}
.mobile{
 margin-right: 150px;
   width: 550px;
   height: 550px;
}
.sub {
    font-size: 18px;
    font-weight: 400;
    color: #111;
    padding-bottom: 10px;
}
.sub .fa {
    font-size: 18px;
    font-weight: 400;
    color: #1ba083;
    padding-right: 8px;
   
}
.sub1 {
    font-size: 18px;
    font-weight: 400;
    color: #111;
    padding-bottom: 10px;
}
.sub1 .fa{
    font-size: 18px;
    font-weight: 400;
    color: #1ba083;
    padding-right: 8px;
}
.para{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}
.para1{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}
.para2{
    font-size: 14px;
    font-weight: 300;
}


.container2{
    background: #2a0135;
    padding-bottom: 200px;
}
.issue{
    width: 180px;
    height: 180px;
}


.chart{
    display: flex;
   text-align: center;
  
}
.table{
    padding-left: 100px;
    padding-right: 100px;

   display: flex;
}
.table1{
    padding-left: 100px;
    padding-right: 100px;
  padding-top: 100px;
   display: flex;
}
.over .fa{
    border-radius: 5px;
    background: #fff;
    font-size: 22px;
    padding: 8px;
    color: #1ba083;
}
.over {
    padding-top: 150px;
}
.sdt{
    width: 600px;
    height: 600px;
}
.sdt1{
    width: 600px;
    height: 600px;
}
.legal{
    color: rgb(240, 238, 238);
    font-size: 36px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 40px;
} 
.para3{
    font-size: 16px;
    font-weight: 300;
    color: rgb(218, 214, 214);
    line-height: 24px;
    padding-top: 30px;
}

.recover1{
    width: 310px;
    height: 410px;
   padding-right: 150px;
    padding-bottom: 20px;
    flex: .5;
   
}
.first{
  border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
   background: #fff;
   padding-top: 30px;
padding-bottom: 30px;
padding-left: 36px;
padding-right: 36px;
}
.first2{
    border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
   background: #fff;
   padding-top: 46px;
padding-bottom: 46px;
padding-left: 36px;
padding-right: 36px;
}
.first3{
    border: 4px solid rgb(241, 66, 95);
    margin-top: 160px;
    margin-left: 50px;
   background: #fff;
   padding-top: 46px;
padding-bottom: 46px;
padding-left: 36px;
padding-right: 36px;
}
.arial{
    color: rgb(238, 234, 234);
    margin-left: 50px;
}
.temp{
  font-size: 18px;
  padding-top: 18px;
  font-weight: 400;
}
.cont{
font-size: 10px;
padding-top: 18px;
color: rgba(255, 255, 255, 0.425);
font-weight: 600;
}
.paragraph{
 font-size: 13px;
 padding-top: 18px;
 font-weight: 200;
}
.first1{
    border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
margin-top: 160px;
background: #fff;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 36px;
padding-right: 36px;
}
.comp{
    width: 200px;
    height: 40px;
 
}

.comp1{
    width: 200px;
    height: 70px;
 
}
.comp3{
    width: 200px;
    height: 70px;
 
}
.comp2{
    width: 200px;
    height: 70px;
 
}
.fle{
    display: flex;
    margin-right: 60px;
   
}
.fle1{
    display: flex;
    margin-right: 60px;
   
}
.btn9{
    margin-left: 600px;
    margin-top: 80px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 12px;
     padding-right: 12px;
   color: #fff;
   background:rgb(241, 66, 95);
     border: none;
    
 }
 .btn10{
    margin-left: 600px;
    margin-top: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 12px;
     padding-right: 12px;
   color: #fff;
   background:rgb(241, 66, 95);
     border: none;
    margin-bottom: 200px;
 }
.container4{
    background: black;
    padding-bottom: 200px;
}
.box{
    background:-moz-linear-gradient(top, hsl(0, 0%, 99%) 0%, #aad0e5 100%); 
    background: -webkit-linear-gradient(top  hsl(0, 0%, 99%) 0%, #aad0e5 100%); 
    background: linear-gradient(to bottom,   hsl(0, 0%, 99%) 0%, #aad0e5 100%);
}
.row{
    display: flex;
}
.bus2{
    font-size: 16px;
    color: rgb(49, 235, 194);
    font-weight: 400;
}
.bus{
    font-weight: 500;
    padding-bottom: 50px;
}
.bus1{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 20px;
}
.col .fa{
    font-size: 38px;
    background: rgb(0, 110, 255);
    border-radius: 8px;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #fff;
}
.col1 .fa{
    font-size: 38px;
    background: rgb(0, 110, 255);
    border-radius: 8px;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #fff;
}
.col2 .fa{
    font-size: 38px;
    background: rgb(0, 110, 255);
    border-radius: 8px;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #fff;
}
.bus2 .fa{
    font-size: 10px;
    background: #fff;
    color: rgb(49, 235, 194);
    border-radius: 5px;
    padding: 10px;
}

.col{
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.col1{
   margin-left: 70px;
   background: #fff;
   padding-left: 20px;
   padding-right: 30px;
   padding-top: 20px;
   border-radius: 10px;
   margin-top: 150px;
    margin-bottom: 150px;
}
.col2{
   margin-right: 70px;
   background: #fff;
   padding-left: 20px;
   padding-right: 30px;
   padding-top: 20px;
   border-radius: 10px;
   margin-top: 150px;
    margin-bottom: 150px;
}
.ready{
    background-image: url(newblue6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ready1{
    background-image: url(newblue6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 12px;
}
.btn1{
   margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  color: #fff;
  background:#1ba083;
    border: none;
   
}
.grow1{
    font-size: 24px;
    color: #f2f2f2;
}
.btn31{
  margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  color: #fff;
  background:#1ba083;
  border: none;
   
}
.grow{
    font-size: 24px;
    color: #f2f2f2;
}
.btn3{
  margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  color: #fff;
  background:#1ba083;
  border: none;
   
}
.vary:hover {
     color: rgb(241, 66, 95);
     background: #fff;
    
}
.btn:hover{
    color: rgb(241, 66, 95);
     background: #fff;
}
.btn1:hover{
    color: rgb(241, 66, 95);
     background: #fff;
}
.review{
    display: flex;
    margin-bottom: 100px;
    background: rgb(240, 237, 237);
}
.view{
    height: 250px;
    width: 310px;
    border-bottom: 1px solid black;
    border-left: 1px solid black ;
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    transform: translate(42%, 0);
}
.view1{
   
    margin-right: 200px;
   color: #111;

}
.view2{
  padding-left: 160px;
  padding-top: 40px;
  padding-right: 30px;
  color: #111;
  font-weight: 500;
}
.view3{
    padding-left: 160px;
    padding-top: 20px;
    font-size: 16px;
    color: #111;
    font-weight: 300;
  }
  .view4{
    padding-left: 160px;
    color: #111;
    padding-bottom: 10px;
    font-weight: 400;
  }
  .review .view1 .view2 .fa{
      font-size: 36px;
      color: rgb(241, 66, 95);
      padding-right: 10px;
  }
  .container3{
    background: rgba(224, 222, 222, 0.267);
  }
  .different{
      color: #f2f2f2;
      display: flex;
   
  }
  .coom{
      display: flex;
      padding-top: 60px;
      padding-left: 100px;
      padding-bottom: 100px;
      
  }
  .excellent{
      flex: 1;
      font-size: 28px;
      padding-left: 100px;
  }
  .teach{
      flex: 1;
      padding-right: 140px;
      font-weight: 200;
      color: #f2f2f2b2;
  }
  .coom .fa{
      color: rgb(241, 66, 95);
      padding-right: 10px;
      padding-top: 14px;
  }
  .me3{
    width: 60px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(241, 66, 95);
    border: 0 none;
    height: 2px;
   color: rgb(241, 66, 95); 
  }
  .me4{
    width: 1000px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgba(241, 66, 95, 0.418);
    border: 0 none;
    height: 0.5px;
   color: rgba(241, 66, 95, 0.432); 
  }
  .footer{
    background: #fff;
    padding-left: 100px;
    padding-right: 100px;
  }
  .stay1{
      padding-left: 140px;
  }
  .goog{
      display: flex;
      list-style: none;
      padding-top: 30px;
      padding-bottom: 10px;
  }
  .goog2{
      display: flex;
      padding-top: 10px;
  }
  .icon1{
      display: flex;
      list-style: none;
      margin-left: 730px;
  }
  .better{
      display: flex;
      list-style: none;
      padding-bottom: 30px;
  }
  .icon{
      text-decoration: none;
     font-weight: 300;
  }
  .hear .fa{
      color: red;
  }
  .phone{
      color: rgb(0, 110, 255);
  }
  .techno{
      font-weight: 500;
      padding-bottom: 10px;
  }
  .icon3{
    text-decoration: none;
   padding-left: 40px;
}
  .icon2{
    text-decoration: none;
  }
  .ico .fa{
      text-decoration: none;
    margin-left: 20px;
    margin-top: 10px;
      border-radius: 6px;
      padding: 6px;
      background: rgba(197, 195, 195, 0.829);
  }